body {
  font-family: Arial;
  text-align: center;
  background: #0f172a;
  color: white;
}

input {
  padding: 10px;
  width: 200px;
}

button {
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  font-size: 20px;
}
.bar-container {
  width: 300px;
  margin: 20px auto;
}

.bar {
  height: 20px;
  margin: 5px 0;
  border-radius: 5px;
}

.positive {
  background: #22c55e;
}

.negative {
  background: #ef4444;
}

.neutral {
  background: #facc15;
}
